@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.App{
    display: flex;
    width : 100vw;
    height: 100vh;
   /* overflow: hidden;*/
}
.SideBar{
    width: 15em;
    background-color :#B9D4F0;
}
.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: rgb(238, 231, 238);
    color: rgb(0, 0, 0);
    text-align: center;
    text-align:center;
    display: flex;
    flex-direction: column;
}

.Footer .list-inline{
    color: rgb(0, 0, 0);

}

.Footer .copyright {
   text-align:center;
   font-size:13px;
   color:#aaa;
}

.Main{
    background-color: #F0F2F5 ;
    width : 100%;
    background-size: cover;
}
.User{
    display : flex ;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border : 1px solid #ebebeb ;
}
.User .info p {
    font-size : 1.1rem;
}
#profile{
    width : 60px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.User .info a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;

}
/*Modal Style*/
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.Modal .container {
    position: absolute;
    border-radius: 2%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -25%);
    background-color: white;
    height: 50vh;
    width: 50vh;

}
.Modal .text .headerAddTodo {
    display: flex;
    justify-content: space-between;
}

.Modal .text .headerAddTodo .cancelAddTodo:hover {
    border-bottom: #96B6D8 solid;
    border-radius: 10%;
    cursor: pointer;
}

.Modal .boutonAddTodo {
    position: absolute;
    margin-bottom: 2px;
}

/*Fenetre d'affichage todos*/
.Todos {
    width: 450px;
    height: 80%;
    margin-left: 50px;
    margin-top: 80px;
    border-radius: 1%;
    
    background-color: #B9D4F0;
}
.Todos .selectedProject {
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid 1px #DDDDDD;
}



/*une Todo*/
.todo {
    padding: 0.5rem 1rem;
}
.todo .todo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.todo .todo-container:hover {
    border-radius: 5%;
    border-bottom: solid #96B6D8 ;
    border-left: solid #96B6D8 ;
}

.todo .todo-container .todo-action {
    display: flex;
    align-items: center;
}

.todo .todo-container .todo-items {
    display: flex;
   
    justify-content: space-between;
}


.todo .todo-container .todo-text {
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}

.todo .todo-container .todo-text p {
    margin-bottom: 0;
}

.todo .todo-container .todo-text .line {
    height: 1px;
    background-color: black;
    position: absolute;
    top: 25%;
    width: 0;
    transition: width 250ms ease-in-out;
}
.todo .todo-container .todo-text .line-checked {
    width: 100%;
}

.todo .todo-container .todo-action .trashIcon {
    cursor: pointer;
}

.CreateNewToDo form {
    position: relative;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.CreateNewToDo form .text input {
padding: 1rem;
width: 100%;
margin-bottom: 0.5rem;
margin-top: 1rem;
border: none;
font-size: 1.2rem;
}

.CreateNewToDo form p {
    margin-left: 10px;
    margin-bottom: 0%;
    
}
.CreateNewToDo form .WhatDay .title {
    margin-top: 15px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
} 

.CreateNewToDo form .WhatTime .title {
    margin-top: 15px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
} 

.CreateNewToDo form .boutonAddTodo {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    
}



